.phone.icon:before{content:"\0021"}
.smartphone.icon:before{content:"\0022"}
.mouse.icon:before{content:"\0023"}
.roadsign.icon:before{content:"\0024"}
.mail.icon:before{content:"\0025"}
.write.icon:before{content:"\0026"}
.attachment.icon:before{content:"\0027"}
.back.icon:before{content:"\0028"}
.doubleback.icon:before{content:"\0029"}
.forward.icon:before{content:"\002A"}
.user.icon:before{content:"\002B"}
.usergroup.icon:before{content:"\002C"}
.adduser.icon:before{content:"\002D"}
.profie.icon:before{content:"\002E"}
.newwindow.icon:before{content:"\002F"}
.mappin.icon:before{content:"\0030"}
.map.icon:before{content:"\0031"}
.compass.icon:before{content:"\0032"}
.compasshand.icon:before{content:"\0033"}
.crosshair.icon:before{content:"\0034"}
.link.icon:before{content:"\0035"}
.heart.icon:before{content:"\0036"}
.star.icon:before{content:"\0037"}
.thumbsup.icon:before{content:"\0038"}
.conversation.icon:before{content:"\0039"}
.comment.icon:before{content:"\003A"}
.rightquote.icon:before{content:"\003B"}
.printer.icon:before{content:"\003C"}
.bell.icon:before{content:"\003D"}
.brokenlink.icon:before{content:"\003E"}
.flag.icon:before{content:"\003F"}
.gear.icon:before{content:"\0040"}
.flashlight.icon:before{content:"\0041"}
.trophy.icon:before{content:"\0042"}
.tag.icon:before{content:"\0043"}
.camera.icon:before{content:"\0044"}
.moon.icon:before{content:"\0045"}
.palette.icon:before{content:"\0046"}
.envato.icon:before{content:"\0047"}
.musicnote.icon:before{content:"\0048"}
.bag.icon:before{content:"\0049"}
.airplane.icon:before{content:"\004A"}
.lifesaver.icon:before{content:"\004B"}
.rings.icon:before{content:"\004C"}
.eye.icon:before{content:"\004D"}
.clock.icon:before{content:"\004E"}
.microphone.icon:before{content:"\004F"}
.calender.icon:before{content:"\0050"}
.bolt.icon:before{content:"\0051"}
.hourglass.icon:before{content:"\0052"}
.rss.icon:before{content:"\0053"}
.signal.icon:before{content:"\0054"}
.lock.icon:before{content:"\0055"}
.unlock.icon:before{content:"\0056"}
.checkmark.icon:before{content:"\0057"}
.xmark.icon:before{content:"\0058"}
.minuscircle.icon:before{content:"\0059"}
.pluscircle.icon:before{content:"\005A"}
.xmarkcircle.icon:before{content:"\005B"}
.minus.icon:before{content:"\005C"}
.plus.icon:before{content:"\005D"}
.cancel.icon:before{content:"\005E"}
.info.icon:before{content:"\005F"}
.infocircle.icon:before{content:"\0060"}
.questionmark.icon:before{content:"\0061"}
.questioncircle.icon:before{content:"\0062"}
.caution.icon:before{content:"\0063"}
.clockwise.icon:before{content:"\0064"}
.counterclockwise.icon:before{content:"\0065"}
.crosspaths.icon:before{content:"\0066"}
.backarrow.icon:before{content:"\0067"}
.looparrow.icon:before{content:"\0068"}
.list.icon:before{content:"\0069"}
.listadd.icon:before{content:"\006A"}
.window.icon:before{content:"\006B"}
.document.icon:before{content:"\006C"}
.portrait.icon:before{content:"\006D"}
.copydocument.icon:before{content:"\006E"}
.landscape.icon:before{content:"\006F"}
.photos.icon:before{content:"\0070"}
.video.icon:before{content:"\0071"}
.music.icon:before{content:"\0072"}
.folder.icon:before{content:"\0073"}
.cabinet.icon:before{content:"\0074"}
.trash.icon:before{content:"\0075"}
.upload.icon:before{content:"\0076"}
.download.icon:before{content:"\0077"}
.hdd.icon:before{content:"\0078"}
.cloud.icon:before{content:"\0079"}
.cloudupload.icon:before{content:"\007A"}
.play.icon:before{content:"\007B"}
.pause.icon:before{content:"\007C"}
.record.icon:before{content:"\007D"}
.stop.icon:before{content:"\007E"}
.creativecommons.icon:before{content:"\00A9"}
.widewindow.icon:before{content:"\00AE"}
.nexttrack.icon:before{content:"\00C4"}
.previoustrack.icon:before{content:"\00C5"}
.beginningtrack.icon:before{content:"\00C7"}
.endtrack.icon:before{content:"\00C9"}
.zoomout.icon:before{content:"\00D1"}
.zoomin.icon:before{content:"\00D6"}
.volume.icon:before{content:"\00DC"}
.volumeoff.icon:before{content:"\00E0"}
.volumeon.icon:before{content:"\00E1"}
.leftarrow.icon:before{content:"\00E2"}
.uparrow.icon:before{content:"\00E3"}
.downarrow.icon:before{content:"\00E4"}
.rightarrow.icon:before{content:"\00E5"}
.leftarrowsmall.icon:before{content:"\00E7"}
.uparrowsmall.icon:before{content:"\00E8"}
.downarrowsmall.icon:before{content:"\00E9"}
.rightarrowsmall.icon:before{content:"\00EA"}
.leftarrowcircle.icon:before{content:"\00EB"}
.uparrowcircle.icon:before{content:"\00EC"}
.downarrowcircle.icon:before{content:"\00ED"}
.rightarrowcircle.icon:before{content:"\00EE"}
.home.icon:before{content:"\00EF"}
.bookmark.icon:before{content:"\00F1"}
.maximize.icon:before{content:"\00F2"}
.opendocument.icon:before{content:"\00F3"}
.search.icon:before{content:"\00F4"}
.ellipsis.icon:before{content:"\00F6"}
